<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "1cf49907-7dcf-4e59-9557-163f307608a5"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Star Hunters</name>

    <description>
        Official Cat OS game.
    </description>

    <author href="http://scratch.mit.edu/users/Phoenixnyan" email="awesomepcat@gmail.com">
        Phoenixnyan
    </author>

</widget>
